<nav>
    <div class='logo'>
        <a href={{ path('home') }}><img src={{ asset("img/logo.png") }} alt="logo"></a>
    </div>
    <div class="links">
        <ul>
            <li><a href="index.php">Home</a></li>
            <li><a href="about.php">About Us</a></li>
            <li><a href="services.php">Services</a></li>
            <li><a href={{ path('app_login') }}>Se connecter</a></li>
        </ul>
    </div>
</nav>
