{% extends 'base.html.twig' %}

{% block body %}
    {{ include("includes/_header.html.twig") }}
    <div class='content'>
        {% block content %}

        {% endblock %}
    </div>
    {{ include("includes/_footer.html.twig") }}
{% endblock %}
